<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title><%= title %></title>
</head>
<body style="background-color: beige;">
<main>
      <h2><%= title %></h2>
    <h3><%= subtitle %></h3>
      <Button style=" height: 50px;background-color: aqua">
        <a style="text-decoration: none;color: black;" href="/authorlist" rel="next" target="_self" title="Ver listagem de usuários" class="cta__btn">GO Author PAGE..</a></Button>
         <button style=" height: 50px;background-color: aqua;"><a style="text-decoration: none;color: black;" href="/booklist" rel="next" target="_self" title="Ver listagem de usuários" class="cta__btn">GO BOOK PAGE..</a>
    </button>
      <Button style="height: 50px;background-color: aqua;"><a style="text-decoration: none;color: black;" href="/versionlist" rel="next" target="_self" title="Ver listagem de usuários" class="cta__btn">GO VERSION PAGE..</a></Button>

    </button>
    <Button style="height: 50px;background-color: aqua;">
      <a style="text-decoration: none;color: black;" href="/countrylist" >GO Country PAGE..</a>
    </Button>
    <Button style="height: 50px;background-color: aqua;">
      <a style="text-decoration: none;color: black;" href="/statelist" >GO State PAGE..</a>
    </Button>

  </button>
  <Button style="height: 50px;background-color: aqua;">
    <a style="text-decoration: none;color: black;" href="/citylist" >GO City PAGE..</a>
  </Button><br><br>
<div style="padding-left: 300px;padding-top: 100px;">
  <button style="height: 50px;width: 70px;background-color: aqua;font-size: large;">
  <a style="text-decoration: none;color: black;" href="/login">LogIn</a>
  </button>

</div>
  

</main>
</body>

</html>